<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="age" placeholder="age">
        <input type="submit" value="Submit">
    </form>
    


<ul>
 <% for (let user of users) { %>
<li>
    <%= user.name%> : <%= user.age%>
</li>
<%  } %>
 </ul>


</body>
</html>